<p-progressBar *ngIf="!isLoaded" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
<p-treeTable *ngIf="isLoaded" [value]="files" [columns]="cols">
    <ng-template pTemplate="caption">
        Перечень услуг и относящиеся к ним мастера
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [ttSortableColumn]="col.field">
                {{col.header}}
                <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
            </th>
            <th style="width: 10rem">
                <p-button icon="pi pi-cog"></p-button>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
            <td *ngFor="let col of columns; let i = index" >
                <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                {{rowData[col.field]}}
            </td>
            <td>
                <p-button icon="pi pi-pencil" (click)="openModal(true, rowData, rowNode)" styleClass="p-button-warning"><i *ngIf="isLoading" class="pi pi-spin pi-spinner"></i></p-button>
            </td>
        </tr>            
    </ng-template>
    <ng-template pTemplate="summary">
            <div style="text-align:left">
                <p-button icon="pi pi-refresh" (click)="loadData()"></p-button>
            </div>
    </ng-template>
</p-treeTable>

<app-edit-service></app-edit-service>