:host ::ng-deep .p-rowgroup-footer td {
    font-weight: 700;
}

span {
    font-weight: 700;
}

.p-row-toggler {
    vertical-align: middle;
    margin-right: .25rem;
}

:host ::ng-deep .p-selectbutton.p-buttonset.p-component{
    display: flex   ;
}

:host ::ng-deep .p-ripple.p-element.p-button.p-component.ng-star-inserted{
    flex: 1;
}

::ng-deep .table-header.ng-star-inserted{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

::ng-deep .p-dropdown-panel.p-component.ng-star-inserted{
    position: absolute;
}

::ng-deep .p-datatable-footer.ng-star-inserted{
    height: 8rem;
}

::ng-deep .p-datatable-wrapper{
    overflow: unset!important;
}