
<div class="cont">
    <div class="m-3">
        <p-selectButton [options]="sizesOfTable" [(ngModel)]="selectedSizeOfTable" [multiple]="false" optionLabel="name" optionValue="class"></p-selectButton>
    </div>
    <p-table #dt_costumers [loading]="loading" [value]="visits" dataKey="name" [tableStyle]="{'min-width': '60rem'}"
    [styleClass]="selectedSizeOfTable">    
        <ng-template pTemplate="caption">
            <div class="table-header">
                Список клиентов
                <p-button icon="pi pi-refresh" (click)="loadData()"></p-button>
            </div>
        </ng-template>
       
       
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 5rem"></th>
                <th pSortableColumn="name">Имя <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="phone">Телефон <p-sortIcon field="phone"></p-sortIcon></th>
                <th pSortableColumn="ratingValue">Ранг <p-sortIcon field="ratingValue"></p-sortIcon></th>
                <th pSortableColumn="total">Кол. успешных посещений / всего посещений <p-sortIcon field="total"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-client let-expanded="expanded">
            <tr>
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="client" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>
                <td>{{client.name}}</td>
                <td>{{client.phone}}</td>
                <td><p-rating [ngModel]="client.ratingValue" [readonly]="true" [cancel]="false"></p-rating></td>
                <td>{{client.successCount}}/{{client.total}}</td>
                </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-appointment>
            <tr>
                <td colspan="7">
                    <div class="p-3">
                        <p-table [value]="appointment.apps" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" currentPageReportTemplate="Показано с {first} по {last} из {totalRecords} записей" [rowsPerPageOptions]="[5, 10, 30]">
                            <ng-template pTemplate="caption">
                                <div class="table-header">
                                    Сеансы с клиентом
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="id">Id <p-sortIcon field="price"></p-sortIcon></th>
                                    <th pSortableColumn="customer">Название <p-sortIcon field="customer"></p-sortIcon></th>
                                    <th pSortableColumn="date">Дата <p-sortIcon field="date"></p-sortIcon></th>
                                    <th pSortableColumn="servicePrice">Стоимость <p-sortIcon field="servicePrice"></p-sortIcon></th>
                                    <th pSortableColumn="status">Статус <p-sortIcon field="status"></p-sortIcon></th>
                                    <th style="width: 4rem"></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-order>
                                <tr>
                                    <td>{{order.id}}</td>
                                    <td>{{order.serviceName}}</td>
                                    <td>{{order.date | date: 'dd/MMMM HH:mm'}}</td>
                                    <td>{{order.servicePrice}}</td>
                                    <td><p-tag [value]="order.status" [severity]="getSeverity(order.status)"></p-tag></td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="6">Пока нету записей с данным клиентом</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <!-- <div style="text-align:left">
                <p-button icon="pi pi-refresh" (click)="loadData()"></p-button>
            </div> -->
        </ng-template>
    </p-table>
    <p-scrollTop></p-scrollTop>
</div>
