<p-table [value]="visits" rowGroupMode="rowspan"  sortMode="single">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:3rem">#</th>
                <th>Клиент</th>
                <th>Мастер</th>
                <th>Язык</th>
                <th>Услуга</th>
                <th>Статус</th>
                <th>Дата</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex" let-rowgroup="rowgroup"
            let-rowspan="rowspan">
            <tr>
                <td>{{rowIndex}}</td>
                <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
                    <span class="p-text-bold p-ml-2">{{customer.client}}</span>
                </td>
                <td>
                    {{customer.master}}
                </td>
                <td>
                    <span class="image-text">{{customer.lang}}</span>
                </td>
                <td>
                    {{customer.service}}
                </td>
                <td>
                    <span [class]="'customer-badge status-' + customer.status">{{customer.status}}</span>
                </td>
                <td>
                    {{customer.date}}
                </td>
            </tr>
        </ng-template>
    </p-table>