<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" defaultFocus="reject" [closable]="false"
    acceptButtonStyleClass="p-button-text"></p-confirmDialog>
<p-toast></p-toast>
<div *ngIf="dataLoaded" class="app">
    <div class='app-sidebar'>
        <div class='app-sidebar-section'>
            <h2>Инструкции</h2>
            <ul>
                <li>Выберите дату и Вам будет предложено создать новую запись</li>
                <li>Перетаскивайте и изменяйте размеры записей</li>
                <li>Нажмите на запись, чтобы удалить ее</li>
            </ul>
        </div>
    
        <div class='app-sidebar-section'>
            <label>
                <input type='checkbox' [checked]='calendarOptions.weekends' (change)='handleWeekendsToggle()' />
                Показывать выходные
            </label>
        </div>
        <div class='app-sidebar-section'>
            <h2>Все записи ({{currentEvents.length}})</h2>
            <ul>
                <li *ngFor='let event of currentEvents'>
                    <b>{{event.startStr | date: 'MMMM d, h:mm a'}}</b>
                    <i>{{event.title}}</i>
                </li>
            </ul>
        </div>
    </div>
    
    <div class='app-main'>
        <full-calendar *ngIf='calendarVisible' [options]='calendarOptions'>
            <ng-template #eventContent let-arg>
                <b>{{ arg.timeText }}</b>
                <i>{{ arg.event.title }}</i>
            </ng-template>
        </full-calendar>
    </div>
</div>
<app-add-appointment></app-add-appointment>
