<div class="card">
    <p-table [value]="options" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 10px">#</th>
                <th>Имя</th>
                <th>Категория услуги</th>
                <th>Телефон</th>
                <th style="width: 1rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>
                    <div *ngFor="let item of product.category">
                        <b>{{item.category}}</b>
                    </div>
                </td>
                <td>{{product.phone}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-ellipsis-v" (click)="openDetails(product)" iconPos="right" class="p-button-text"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<app-master-edit></app-master-edit>