<p-dialog position="top" header="Просмотр записи" [(visible)]="displayModalAppointment" (onHide)="hide()" [closeOnEscape]="true" [dismissableMask]="true"
[modal]="true" [draggable]="true" [resizable]="false">
<!-- <p-toast></p-toast> -->
<!-- <p-confirmPopup></p-confirmPopup> -->
    
    <p-table #dt id="my-table"  [columns]="cols" [value]="user" [exportHeader]="'customExportHeader'" [tableStyle]="{'min-width': '50rem'}">
      
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th *ngFor="let col of columns">
                  {{col.header}}
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
              <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="caption">
        <div class="flex">
            <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="Экспорт в CSV" ></button>
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="Экспорт в XLS"></button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="Экспорт в PDF"></button>
        </div>
        <button pButton type="button" (click)="confirm($event)" class="p-button-outlined p-button-rounded p-button-danger" label="Удалить встречу"><i *ngIf="isSubmiting" class="pi pi-spin pi-spinner" style="font-size: 1rem"></i></button>
    </ng-template>
    </p-table>
  </p-dialog>