.service-group {
    display: flex;
    min-height: 195px;
}

:host ::ng-deep p-listbox{
    width: 100%!important;
}


.form-container{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

::ng-deep .p-listbox.p-component{
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}